body {background-color: #F4F4F4;}

.app-header {
  font-family: Arial;
  font-weight: semibold;
  font-size: 20pt;
  color: #4e78f6;
  text-align: center;
  margin-top: 25pt
}

.form-header {
  margin-left: 15pt;
  font-family: Arial;
  font-weight: semibold;
  font-size: 20pt;
  color: #313131;
  padding-top: 40pt;
  padding-bottom: 30pt
}

.form{
  margin-left: 55pt;
  display: flex;
  flex-direction: column
}

.form-label {
  font-family: Arial;
  font-weight: regular;
  font-size: 15pt;
  line-height: 20pt;
  color: #898da3;
}

.form-input {
  font-family: Arial;
  font-weight: regular;
  font-size: 15pt;
  line-height: 20pt;
  color: #313131;
  background: transparent;
  outline: none;
  border-right: 1pt solid #f0f0f0;
  border-left: 1pt solid #f0f0f0;
  border-top: 1pt solid #f0f0f0;
  border-bottom: 1pt solid #d8d8d8;
  margin-bottom: 20pt
}

.submit-button {
  font-family: Arial;
  border: none;
  color: white;
  background-color: #4E78F6;
  font-size: 16pt;
  padding: 14pt 40pt;
  border-radius: 10pt;
}

.submit-container {
  text-align: center;
  margin-top: 60pt
}

.greeting-container {
  text-align: center;
  margin-top: 25pt
}

.greeting {
  font-family: Arial;
  font-weight: semibold;
  font-size: 20pt;
  color: #cecbcb;
}

.first-name {
  font-family: Arial;
  font-weight: semibold;
  font-size: 20pt;
  color: #4e78f6;
}

.results-container {
  margin: 20pt;
  font-family: Arial;
  font-size: 15pt;
  line-height: 20pt;
}

.weather-city-info {
  margin-top: 25pt
}

.weather-container{
  width: 300pt;
  height: 72pt;
  padding: 10pt;
  margin-top: 10pt;
  margin-bottom: 20pt;
  border-radius: 10pt;
  background-color: white;
  display: flex;
  box-shadow: 5pt 5pt 5pt 5pt rgb(231, 231, 231);
}

.weather-text {
  display: flex;
  flex-direction: column;
  margin-left: 10pt
}

.city-info-container{
  width: 300pt;
  height: 72pt;
  padding: 10pt;
  margin-top: 10pt;
  margin-bottom: 20pt;
  border-radius: 10pt;
  background-color: rgb(255, 255, 255);
  box-shadow: 5pt 5pt 5pt 5pt rgb(231, 231, 231);
}

.error-message-container {
  display: flex;
  font-family: Arial;
  flex-direction: column;
  align-items: center
}

.error-message {
  text-align: center;
  margin-top: 50pt;
  font-size: 20pt;
  color: #4d4d4d;
}

.go-back-button {
  font-family: Arial;
  border: none;
  color: white;
  background-color: #4E78F6;
  font-size: 16pt;
  padding: 10pt 35pt;
  border-radius: 10pt;
  text-align: center;
  margin-top: 25pt;
  width: 100pt;
}


