.app-header {
  font-family: Arial;
  font-weight: semibold;
  font-size: 20pt;
  color: #4e78f6;
  text-align: center;
  margin-top: 25pt
}

.form-header {
  margin-left: 15pt;
  font-family: Arial;
  font-weight: semibold;
  font-size: 20pt;
  color: #313131;
  padding-top: 40pt;
  padding-bottom: 30pt
}

.form{
  margin-left: 55px;
  display: flex;
  flex-direction: column
}

.form-label {
  font-family: Arial;
  font-weight: regular;
  font-size: 15pt;
  line-height: 20pt;
  color: #898da3;
}

.form-input {
  font-family: Arial;
  font-weight: regular;
  font-size: 15pt;
  line-height: 20pt;
  color: #313131;
  background: transparent;
  outline: none;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  margin-bottom: 20px
}

.submit-button {
  font-family: Arial;
  border: none;
  color: white;
  background-color: #4E78F6;
  font-size: 16px;
  padding: 14px 40px;
  border-radius: 10px;
}

.submit-container {
  text-align: center;
  margin-top: 60px
}