body {background-color: #F0F0F0;}

.app-header {
  font-family: Arial;
  font-weight: semibold;
  font-size: 20pt;
  color: #4e78f6;
  text-align: center;
  margin-top: 25pt
}

.form-header {
  margin-left: 15pt;
  font-family: Arial;
  font-weight: semibold;
  font-size: 20pt;
  color: #313131;
  padding-top: 40pt;
  padding-bottom: 30pt
}

.form{
  margin-left: 55px;
  display: flex;
  flex-direction: column
}

.form-label {
  font-family: Arial;
  font-weight: regular;
  font-size: 15pt;
  line-height: 20pt;
  color: #898da3;
}

.form-input {
  font-family: Arial;
  font-weight: regular;
  font-size: 15pt;
  line-height: 20pt;
  color: #313131;
  background: transparent;
  outline: none;
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 20px
}

.submit-button {
  font-family: Arial;
  border: none;
  color: white;
  background-color: #4E78F6;
  font-size: 16px;
  padding: 14px 40px;
  border-radius: 10px;
}

.submit-container {
  text-align: center;
  margin-top: 60px
}

.greeting-container {
  text-align: center;
  margin-top: 25pt
}

.greeting {
  font-family: Arial;
  font-weight: semibold;
  font-size: 20pt;
  color: #cecbcb;
}

.first-name {
  font-family: Arial;
  font-weight: semibold;
  font-size: 20pt;
  color: #4e78f6;
}

.results-container {
  margin: 20pt;
  font-family: Arial;
  font-size: 15pt 
}

.weather-city-info {
  margin-top: 25pt
}

